<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MoneyMoney"
        tools:targetApi="31">
        
        <activity
            android:name=".DashboardActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/Theme.MoneyMoney">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".CurrencySelectionActivity"
            android:exported="false"
            android:label="Select Currency"
            android:parentActivityName=".DashboardActivity"
            android:theme="@style/Theme.MoneyMoney">
        </activity>

        <activity
            android:name=".ExpenseListActivity"
            android:exported="false"
            android:label="Expense List"
            android:parentActivityName=".DashboardActivity"
            android:theme="@style/Theme.MoneyMoney">
        </activity>
        
        <activity
            android:name=".IncomeListActivity"
            android:exported="false"
            android:label="Income List"
            android:parentActivityName=".DashboardActivity"
            android:theme="@style/Theme.MoneyMoney">
        </activity>

        <activity
            android:name=".InvestmentListActivity"
            android:exported="false"
            android:label="Investment List"
            android:parentActivityName=".DashboardActivity"
            android:theme="@style/Theme.MoneyMoney">
        </activity>

        <activity
            android:name=".ExpenseEntryActivity"
            android:exported="false"
            android:label="Add Expense"
            android:parentActivityName=".DashboardActivity"
            android:theme="@style/Theme.MoneyMoney">
        </activity>

        <activity
            android:name=".GoalEntryActivity"
            android:exported="false"
            android:label="Add Goal"
            android:parentActivityName=".DashboardActivity"
            android:theme="@style/Theme.MoneyMoney">
        </activity>

        <activity
            android:name=".IncomeEntryActivity"
            android:exported="false"
            android:label="Add Income"
            android:parentActivityName=".DashboardActivity"
            android:theme="@style/Theme.MoneyMoney">
        </activity>

        <activity
            android:name=".InvestmentEntryActivity"
            android:exported="false"
            android:label="Add Investment"
            android:parentActivityName=".DashboardActivity"
            android:theme="@style/Theme.MoneyMoney">
        </activity>

        <activity
            android:name=".GoalListActivity"
            android:exported="false"
            android:label="Goal List"
            android:parentActivityName=".DashboardActivity"
            android:theme="@style/Theme.MoneyMoney">
        </activity>

        <activity
            android:name=".DriveSyncActivity"
            android:exported="false"
            android:label="Drive Sync"
            android:parentActivityName=".DashboardActivity"
            android:theme="@style/Theme.MoneyMoney" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="androidx.core.content.FileProvider.PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>